# .env.example
# Copy ke .env lalu isi nilainya
FRONTEND_ORIGIN=https://your-domain.com
REACT_APP_BACKEND_URL=https://your-domain.com
DB_NAME=lms_empowerment
ADMIN_EMAIL=admin@your-domain.com
SENDER_EMAIL=noreply@your-domain.com
IMAGE_TAG=v1.0.0